@font-face {
    font-family: "DIN";
    src: url('../resource/DIN Alternate.ttf');
}

@font-face {
    font-family: "DINM";
    src: url('../resource/DIN Alternate Medium.ttf');
}

.title {
  width: 100%;
  color: #eee;
  background-color: #333;
}

.logo {
  background-image: url('../resource/logo.png');
  width: 128px;
  height: 128px;
  margin-left: -32px;
  float: left;
}

.logo-title {
  height: 128px;
  vertical-align: middle;
  display: table-cell;
  padding-left: 8px;
  font-weight: 100;
}

body {
  /* background-color: #fdf6e5; */
  background-color: #eee;
  font-family: "DIN", "Roboto";
  font-size: 1.6em;
}

pre {
  white-space: normal;
  margin-top: 0;
}

h5, p {
  margin-bottom: 3.6rem;
  /* text-align: justify; */
}

h5 {
  font-size: 2.4rem;
}

.logo {
  margin-bottom: 1.2rem;
}

p.header {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  /* margin-left: -2.4rem; */
}

p.header span {
  margin-left: 1rem;
}

p.code {
  font-family: "DINM", "Roboto";
  font-weight: 500;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
}

p.desc {
  font-size: 1.4rem;
}
